html {
  font-family: 'helvetica neue', helvetica, sans-serif;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --gray-700: #4a5568;
}

body {
  font-size: var(--text-base);
  color: #000;
  max-width: 768px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  padding: 1rem;
}

.logo a {
  font-size: var(--text-3xl);
}

header a {
  color: black;
  text-decoration: none;
}

nav {
  border-bottom:0.1rem solid #000;
  border-top: 0.1rem solid #000;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
 }
 

nav a {
  font-size: var(--text-xl);
  margin-right: 2rem;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  color: var(--gray-700);
}

h1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}

p {
  line-height: 1.5;
}

article .header {
  font-size: var(--text-sm);
  font-style: italic;
  color: var(--gray-700);
}

pre, code {
  font-family: monospace;
  line-height: 1.45;
}

code {
  padding: 0.2em;
  margin: 0;
}

pre code {
  padding: 0;
}

img {
  width: 100%;
}

pre {
  background-color: black;
  color: white;
  overflow-wrap: normal;
  overflow: auto;

  margin-bottom: 1em;
  padding: 0.4em 0.6em;
  border-radius: 0.3rem;
}

@media (min-width: 640px) {
  .logo {
    padding: 2rem;
  }

  .logo a {
    font-size: var(--text-4xl);
  }

  header {
    margin-bottom: 3rem;
  }
}
